body {
    background-color: #FBEEF4;
}

.header {
    height: 60px;
    padding: 20px;
    background-color: #E8B4CD;
    border-radius: 20px;
}

.header h1 {
    color: #3f0a19;
    font-style: italic;
    margin-top: 10px;
    margin-left: 13px;
}

.header p {
    text-align: center;
    margin-top: -69px;
    font-size: 40px;
    color: #3f0a19
}

.promo-container {
    width: 1200px;
    height: 400px;
    background-color: #D5B6C5;
    align-items: center;
    margin: 0 auto;
    margin-top: 85px;
    border-bottom: 2px solid #d4b9c1;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;

}

.promo-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    object-position: top;
}

.legend {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 10px;
    color: #4e363d;
}

.productsSession {
    margin-right: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    transition: margin 0.3s ease;

}

.image-content {
    width: 300px;
    height: 570px;
    background-color: #D5B6C5;
    margin-top: 30px;
    margin-left: 0px;
    position: relative;
    border-radius: 10px;
}

.flower-background {
    position: absolute;
    left: -1;
    bottom: 0;
    height: auto;
    z-index: -1;
    opacity: 40%;

}


.flower3-background {
    position: absolute;
    height: auto;
    z-index: -1;
    opacity: 40%;
    right: 30px;
    top: 140px;

}


.btn-register-product {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: #f296ac;
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    z-index: 1000;
}

.btn-register-product:hover {
    background-color: #ff8ed6;
    /* Rosa mais claro ao passar o mouse */
    transform: translateY(-50%) scale(1.05);
    /* Pequeno efeito de zoom */
}



.cartBtn {
    position: absolute;
    right: 25px;
    top: 30px;
    background-color: #ffe1f5;
    color: #3f0a19;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    z-index: 1000;
}