body{
    background-color: #FBEEF4;
}

.header { 
    height: 60px;
    padding: 20px;
    background-color:#E8B4CD ;
    border-radius: 20px;
}

.header h1 {
    color: #3f0a19;
    font-style: italic;
    margin-top: 13px;
    margin-left: 13px;
}

.header p{ 
    text-align: center;
    margin-top: -60px;
    font-size: 40px;
    color: #3f0a19
}
.header p{ 
    text-align: center;
    margin-top: -60px;
    font-size: 40px;
    color: #3f0a19
}

.container{
    background-color: #FFFFFF ;
    border-radius: 40px;
    border: 2px #BFB5B8 solid;
    border-bottom: 5px #999093bb solid;
    width: 35%;
    position: relative;
    top: 50px;
    margin: 0 auto;
    height: 700px;
}

.container h1{
    color: #5C2232;
    font-family: "Inter", sans-serif;
    font-weight: 20px;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
}

.form-100{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.form-100 label{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    color: #3f0a19;
}

.form-100 input{
    border: 1px #5C2232 solid;
    border-radius: 20px;
    padding: 17px 100px;
    color: #e0557f;
    border: 2px #BFB5B8 solid;
    border-bottom: 5px #999093bb solid;
    text-align: center;
}

.form-50{
    display: flex;
    justify-content: center; 
    gap: -px;
    margin: 20px 0; 
    margin-top: -3px;
}

.form-50 input{
    border-radius: 20px;
    color: #e0557f;
    border: 2px #BFB5B8 solid;
    border-bottom: 5px #999093bb solid;
    text-align: center;
    width: 180px;
    height: 50px;
}

.btn-pay{
    margin-bottom: 20px;
    background-color: #fae2e9;
    cursor: pointer;
}

.payment-options {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  font-family: "Inter", sans-serif;
  color: #3f0a19;
}

.payment-options label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}


.payment-options input[type="radio"] {
  appearance: none; 
  width: 20px;
  height: 20px;
  border: 2px solid #e0557f;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  transition: all 0.2s ease;
}

.payment-options input[type="radio"]:checked {
  background-color: #e0557f;
}

.payment-options .option {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.message{
    margin: 0 auto;
}